---

arch: 'x86_64/'

pkgbuild: '/PKGBUILD'

repos:
  - name: 'goblins'
    vcs: 'staging'
  - name: 'gremlins'
    vcs: 'testing'
  - name: 'system'
    vcs: 'core'
  - name: 'world'
    vcs: 'extra'
  - name: 'galaxy-goblins'
    vcs: 'community-staging'
  - name: 'galaxy-gremlins'
    vcs: 'community-testing'
  - name: 'galaxy'
    vcs: 'community'
  - name: 'lib32-goblins'
    vcs: 'multilib-staging'
  - name: 'lib32-gremlins'
    vcs: 'multilib-testing'
  - name: 'lib32'
    vcs: 'multilib'
  - name: 'kde-wobble'
    vcs: 'kde-unstable'
  - name: 'gnome-wobble'
    vcs: 'gnome-unstable'

tools:
    cmdBuild: 'buildpkg -C'
    cmdRepoAdd: 'deploypkg -a -l'
    cmdRepoRemove: 'deploypkg -r -l'
    cmdSign: 'signpkg'
    cmdYaml: 'pkg2yaml -d'

src:
    repoPath: 'trunk'
    repoName: 'trunk'
    repoAddName: 'default'
    repoRemoveName: 'default'

author:
    name: ''
    email: ''
    gpgkey: ''

actions:
    isAdd: false
    isRemove: false
    isBuild: false
